* {
    margin: 5;
    padding: 0;
}
body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #070C24;
}
footer {
    display:flex;
    flex-wrap: wrap;
}